
html, body{
    padding:0px;
    margin:0px;
    font-family: 'Raleway', sans-serif;
    color:#FFF;
    height:100%;
 }
 body{
    background:rgba(241, 237, 237, 0.5);
 }
 
 .container{
     width: 190px;
    max-width:250px;
    background:rgba(97, 96, 96, 0.75);
    margin:40px auto;
    padding:10px 0px 20px 0px;
    border:1px solid rgb(33, 133, 158);
    border-radius:4px;
    box-shadow:0px 4px 5px #FFF;
float:right;
text-align: center;
 }
 
 .link{
     color: white;
     list-style: none;
     text-decoration: none;
    font-size:16px;
    font-weight:300;
    text-align:center;
    position:relative;
    height:40px;
    line-height:40px;
    margin-top:10px;
    overflow:hidden;
    width:90%;
    margin-left:5%;
    cursor:pointer;
    flex-direction: column;
   
 }
 .link:after{
    content: '';
    position:absolute;
    width:80%;
    border-bottom:1px solid rgba(255, 255, 255, 0.5);
    bottom:50%;
    left:-100%;
    transition-delay: all 0.5s;
    transition: all 0.5s;
 }
 .link:hover:after,
 .link.hover:after{
    left:100%;
 }
 .link .text{
    text-shadow:0px -40px 0px rgba(255, 255, 255, 1);
    transition:all 0.75s;
    transform:translateY(100%) translateZ(0);
    transition-delay:all 0.25s;
 }
 .link:hover .text,
 .link.hover .text{
    text-shadow:0px -40px 0px rgba(255, 255, 255, 0);
    transform:translateY(0%) translateZ(0) scale(1.1);
    font-weight:600;
 }
 
 .titlepage{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(grad-student-celebrating-diploma-up-in-sun.jpg);
    background-size: cover;
    opacity: 0.9;

    }
  .overly{
    width: 100%;
    height: 100%;
    font-size: 26px;
    color:rgb(41, 39, 39);
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
list-style-type: none;


  }

 
  .button {
    border-radius: 4px;
    background-color: rgba(175, 171, 171, 0.75);
    border:rgb(63, 23, 23);
    color:#FFF;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    text-decoration: none;
    text-decoration-style: none;
    border-color: rgb(63, 23, 23);
  }
 
  .button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-decoration: none;
  }
 
  .button:after {
    content: '»';
    position: absolute;
    opacity: 0.8;  
    top: 14px;
    right: -20px;
    transition: 0.4s;
  }
 
  .button:hover{
    padding-right: 24px;
    padding-left:8px;
   color: rgb(41, 39, 39);
  }
 
  button:hover:after {

    right: 10px;
 
}
.footer{
 background-color: rgba(97, 96, 96, 0.75);
margin: 0;
border: 0;
padding:0;
box-sizing: border-box;
position: absolute;
bottom: 0px;
width: 100%;
height: 15%;

}
.row{
    display:flex;
    flex-wrap: wrap;

}
.footer-col{
    width: 25%;
    padding: 5px 10px;
font-weight: bold;
}
.footer-col h1{
    font-size: 18px;
    color: #FFF;
    margin-bottom: 30px;
    position: relative;
    background-color:rgb(16, 34, 56);
    text-align: center;

}
.footer-col h1::before{
content: '';
position:absolute;
left:0;
bottom: -10px;
background-color: rgb(41, 39, 39);
height: 2px;
box-sizing: border-box;
width: 50px;
text-align: center;
}
.containerfooter{
    max-width: 100%;
    background-color: rgba(175, 171, 171, 0.75);
    display: flex;
}
ul{
    list-style: none;
}
.footer-col ul li{
margin-bottom: 10px;

}
.footer-col ul li a{
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
color:#FFF;
display: inline-block;
transition: all 0,5s ease;
}
.footer-col ul li a:hover{
    color:rgb(63, 23, 23);
padding-left: 10px;

}
.footer-col ul li .socialicons {
    display:inline-block;
    flex-wrap: wrap;

}
#copyright {
    direction: rtl;
text-align: center;
}