

  img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    object-fit: cover;}

/* Additional demo display styles */
* {
  box-sizing: border-box;
}
.card {
    width:500px;
    color:#616161;
    
    
}
body {
  display: grid;
  place-content: center;
  justify-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 1rem;
  line-height: 1.5;
  font-family:'IBM Plex Sans', sans-serif;
  background-color: white;
}

.card h3 {
  margin-top: 0px;
  font-size: 1.25rem;
}


.card span {
    font-size: 1rem;
    
  }

.card-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  grid-gap: 1.5rem;
  max-width: 100vw;
  width: 120ch;
  padding-left: 1rem;
  padding-right: 1rem;
}


.card__container {
    width: 200px;
    height: 100px;
    
    
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 200px;
    grid-column-gap: 300px;
    grid-row-gap:200px ;
  
}

img.rounded-corners {
    left: 100px;
    top: 50px;
    width: 100px;
    border-radius: 5px;
    height: inherit;
  }


table.card_table {
    
    width: 3px;
    height: 250px;
    border-radius: 5px;
    /*border-style: solid;*/
}

h3.card__header{
    top:5px;
    padding: 0px;
    margin: 10px;
    color: #d57a5b;
    text-align: left;
    float: left;
    width: 100px;
    height: inherit;
    word-wrap: break-word;
    font-size: 20px;
    font-weight: bold;
}
p {
    display: inline;
    padding: 0px;
    margin: 5px;
    bottom: 0px;
    left: 10px;
    float: left;
    text-align: left;
    width: 200px;
    height: inherit;
    word-wrap: break-word;
    font-size: 14px;
}

.card_span{
    /*background-color: black;*/
    width: 300px;
    word-wrap: break-word;
}

